{% extends 'base.html' %}
<!-- variables de entorno html-->

{% block titulo %} WeHousinn {% endblock %}

{% block empresa %} 
<section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="p-3 box-with-humber">
            <div class="number-behind">01</div>
            <h2 class="text-primary">AMPLIO CATALOGO</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="p-3 box-with-humber">
            <div class="number-behind">02</div>
            <h2 class="text-primary">EXCELENTES AGENTES</h2>
            <p class="mb-4">Nuestro equipo te brindara la mejor asesoría, sugiriendo inmuebles, y buscando opciones y comodidad estando en contacto directo contigo.</p>
          
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="p-3 box-with-humber">
            <div class="number-behind">03</div>
            <h2 class="text-primary">TU ELIGES
            </h2>
            <p class="mb-4">Agrega inmuebles que quieres conocer, deja mensajes para el agente y coordina visitas con unos clics a cualquier hora del día</p>              
          </div>
        </div>
      </div>
    </div>
  </section>








{% endblock %}