{% extends 'base.html' %}
<!-- variables de entorno html-->

{% block galeria %} 
<section class="site-section" id="work-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-black h1 site-section-heading text-center">Nuestra empresa</h2>
          <p class="lead">Basada en la compra y venta de bienes raíces. WeHousinn se adapta a las nuevas tecnologías para lograr un  mayor alcance, permitiendo a los clientes mayor facilidad para encontrar lo que más les beneficie para su comodidad.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="images/casas-de-lujo.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/casas-de-lujo.jpg" alt="Image" class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="images/casas-lujosas2.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/casas-lujosas2.jpg" alt="Image"class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="images/ellon-musk-casa-6-k2XC--1382x900@abc.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/ellon-musk-casa-6-k2XC--1382x900@abc.jpg" alt="Image" class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4">
          <a href="images/maxresdefault.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/maxresdefault.jpg" alt="Image" class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="images/apartamento-lujo-dubai-1.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/apartamento-lujo-dubai-1.jpg" alt="Image" class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="images/DORAL.jpg" class="media-1" data-fancybox="gallery">
            <img src="images/DORAL.jpg" alt="Image" class="img-fluids">
            <div class="media-1-content">
              <h2>WeHousinn</h2>
              <span class="category">Real State Agents</span>
            </div>
          </a>
        </div>

       
      </div>
    </div>
  </section>


{% endblock %}