{% extends 'base.html' %}

{% load static %}

{% block servicios %}
<section class="site-section border-bottom" id="services-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center" data-aos="fade-up">
          <h2 class="text-black h1 site-section-heading text-center">Nuestros Servicios</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping_cart"></span></div>
            <div>
              <h3>Compra de inmuebles</h3>
              <p>Mira y compra inmuebles en toda el valle de aburra y más municipios de Antioquia</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping_cart"></span></div>
            <div>
              <h3>Venta de inmuebles</h3>
              <p>Contacta con un asesor para captar tu inmueble y publicarlo en nuesta página</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-question_answer"></span></div>
            <div>
              <h3>Asesoria</h3>
              <p>Nuestros asesores te brindaran la ayuda, la información y el acompañamiento en todo momento</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-format_paint"></span></div>
            <div>
              <h3>Captación de inmueble</h3>
              <p>Para que puedas vender tu inmueble nuestro asesor ira hasta tu domicilio para recoger los datos que necesitas para venderlo</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-extension"></span></div>
            <div>
              <h3>Presupuesto y gusto</h3>
              <p>Puedes hacer busquedas personalizadas teniendo en cuenta tu presupuesto y también tus gustos</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-phonelink"></span></div>
            <div>
              <h3>Busqueda por internet</h3>
              <p>Lo mejor de WeHousinn es que todo lo podras hacer mediante internet, más seguro y más rápido</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



{% endblock %}